<%- include('../partials/header') -%>



<section class="SignIn">

    <div class="container">
        <div class="admin-box">
            <div class="image">
                <img src="/image/login/admin.png" alt="">
            </div>
            <div class="content">
                <p>Her's Admin Login</p>
                <a href="/admin" class="btn">Admin</a>
            </div>
        </div>
    </div>
    
</section>

<section class="SignIn">

    <div class="container">

        <div class="box">
            <div class="image">
                <img src="/image/login/Receptionist.png" alt="">
            </div>
            <div class="content">
                <p>Her's Receptionist Login</p>
                <a href="/reception" class="btn">Receptionist</a>
            </div>
        </div>
        
        <div class="box">
            <div class="image">
                <img src="/image/login/doctor.png" alt="">
            </div>
            <div class="content">
                <p>Her's Doctor's Login</p>
                <a href="/doctor" class="btn">Doctor</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/image/login/Nurse.png" alt="">
            </div>
            <div class="content">
                <p>Her's Nurse Login</p>
                <a href="/nurse" class="btn">Nurse</a>
            </div>
        </div>

    </div>
    
</section>

<section class="SignIn">

    <div class="container">

 
        <div class="box">
            <div class="image">
                <img src="/image/login/labou.png" alt="">
            </div>
            <div class="content">
                <p>Her's Labouratorists Login</p>
                <a href="/lab" class="btn">Labouratorists</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/image/login/pharma.png" alt="">
            </div>
            <div class="content">
                <p>Her's Pharmacist Login</p>
                <a href="/pharma" class="btn">Pharmacist</a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="/image/login/Accountants.png" alt="">
            </div>
            <div class="content">
                <p>Her's Accountants Login</p>
                <a href="/accountant" class="btn">Accountants</a>
            </div>
        </div>

    </div>
    
</section>
<%- include('../partials/footer') -%>
